#gamearea {
	position: relative;
}
canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent;
	border: 1px solid black;
}
#background { 
	z-index: -2;
}
#actors {
	z-index: -1;
}
#messages {
	height: 2em;
	overflow: hidden;
	margin: 1em;
	font-size: x-small;
	font-family: courier;
	color: green;
}
