@import url(http://fonts.googleapis.com/css?family=VT323);

#gamearea {
	position: relative;
}
canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent;
	border: 1px solid black;
}
#background { 
	z-index: -2;
}
#actors {
	z-index: -1;
}
#statusbar {
	z-index: 0;
}

button {
	font-size: 10px;
}
